<div class="container mt-3" >
<h3>
    Login page
</h3>
<div>
    <form id="login-form">
        <label for="lEmail">Email address</label>
        <input type="email" class="form-control" id="lEmail" name="email">
        <br>
        <label for="lPassword">Password</label>
        <input type="password" class="form-control" id="lPassword" name="password">
        <br>
        <button type="submit" class="btn btn-primary">Log in</button>
        <br>
        <a href="http://localhost:8080/register"> Don't have an account? Register</a>
    </form>
</div>

</div>

